.header {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;

  .logo-wrapper {
    position: absolute;
    left: 0;
    height: 100%;
    max-width: 25%;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
    }
    img {
      width: 30%;
      object-fit: contain;
    }
  }
}
