<div class="Pokemon-details" *ngIf="poke">
  <div class="content-wrapper">
    <div class="content-header">
      <span>#{{ poke.id }}</span>
      <h1 class="poke-name">{{ poke.name }}</h1>
    </div>
    <div class="poke-img-wrapper">
      <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{
          poke.id
        }}.png"
        alt="{{ poke.name }}"
      />
    </div>
    <div class="poke-info">
      <div class="w-h-wrapper">
        <p>Weight: {{ poke.weight }} Kgs</p>
        <p>Height: {{ poke.height }} M</p>
      </div>
      <div>
        <div class="type-wrapper" *ngFor="let type of poke.types">
          <p>{{ type.type.name }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
